<div class="vh-100 mt-2">
<div class="d-flex justify-content-center align-items-center mb-4">
    <div>
        <div class="card insta-card py-4 mb-3" style="width:23rem">
            <div class="card-body">
                <div class="instagram-logo-link justify-content-center"></div>
                <p class="text-center insta-text fw-semibold text-secondary">Sign up to see photos and videos from your friends.</p>
                
                <hr>
                <div class="d-flex justify-content-center py-4">
                    
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <div class="mb-2">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control", placeholder: "Mobile Number or Email"%>
                    </div>

                    <div class="mb-2">
                        <%= f.text_field :username, class:"form-control", placeholder: "Username"%>
                    </div>
                    

                    <div class="mb-3">
                        <%= f.password_field :password, autocomplete: "new-password", class:"form-control",placeholder: "Password" %>                   
                    </div>

                    <% if devise_mapping.rememberable? %>
                        <div class="form-check mb-3">
                        <%= f.check_box :remember_me, class:"form-check-input" %>
                        <%= f.label :remember_me, class:"form-check-label" %>
                        </div>
                    <% end %>

                    <div class="actions">
                        <%= f.submit "Sign up", class:"btn btn-primary insta-button w-100" %>
                    </div>
                    <% end %>
                </div>
                
            </div>
        </div>

        <div class="card insta-card mb-0" style="width:23rem">
            <div class="card-body">
                <p class="text-center mt-3 fs-6">Have you an account? <%=link_to "Log in", pages_index_path, class:"insta-link"%></p>
            </div>
        </div>

    </div>
</div>

</div>



